.right{
    margin: 0;
    width: 76%;
    position: absolute;
    top: 3%;
    left: 21%;
}
.main{
    padding: 50px;
}
.left{
    position: fixed;
    width: 95%;
}
.pagination{
    position: absolute;
    top: 252%;
    left: 40%;
    margin-bottom: 20px;
}